<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.quasma.android.bustrip"
    android:versionCode="32"
    android:versionName="4.0.7"
    android:installLocation="auto" >

    <uses-sdk android:minSdkVersion="3"/>

    <application android:icon="@drawable/icon"
        android:label="@string/app_name" >
        <activity
            android:name=".activity.MyNexTripActivity"
            android:theme="@android:style/Theme.NoTitleBar">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        
        <activity
            android:name=".activity.RouteActivity"
            android:theme="@android:style/Theme.Light.NoTitleBar"/>

        <activity
            android:name=".activity.DirectionActivity"
            android:theme="@android:style/Theme.Light.NoTitleBar"/>
        
        <activity
        	android:name=".activity.StopActivity"
            android:theme="@android:style/Theme.Light.NoTitleBar"/>
        
        <activity
        	android:name=".activity.FavoriteActivity"
            android:theme="@android:style/Theme.Light.NoTitleBar"/>
        
        <activity
        	android:name=".activity.StopNumberActivity"
            android:theme="@android:style/Theme.Light.NoTitleBar"/>

        <activity
            android:name=".activity.StopTripActivity"
            android:theme="@android:style/Theme.Light.NoTitleBar"/>
            
        <activity
        	android:name=".activity.TripActivity"
         	android:theme="@android:style/Theme.Light.NoTitleBar"/>
        
        <activity android:name=".activity.Preferences"/>
        <service android:name=".service.NexTripService" />

        <provider
            android:name=".providers.NexTripProvider"
            android:authorities="com.quasma.mynextrip.provider" />
        
        </application>

    	<uses-permission android:name="android.permission.INTERNET"></uses-permission>
	<uses-permission android:name="android.permission.ACCESS_NETWORK_STATE"></uses-permission>
</manifest>